<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
   <div class="left-side"></div>
    <div class="login hide-login">
        <form class="login-container hide-form" method="POST" action="login">
           <img src="./images/user.png" alt="" />
           <div class="input-container hide-section">
              <label><input type="email" placeholder="Email" name="email" /></label>
              <label><input type="password" placeholder="Password" name="password" /></label>
              <label><input type="submit" value="Log in" /></label>
           </div>
        </form>
     </div>

     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="./js/animation.js"></script>
     <script src="./js/validate.js"></script>
</body>
</html>